<p>This site is a good starting point for web applications.</p>
<p>You'll notice a number of things built in:
    <ul>
        <li><strong>FrontEnd</strong></li>
        <li><a href="#" target="_blank">Angular</a> as a general framework.</li>
        <li><a href="#" target="_blank">Bootstap + Sass</a> as a for styles and widgets.</li>
        <li><a href="#" target="_blank">React</a> for smaller components.</li>
        <li><a href="#" target="_blank">GSAP</a> for animating on page elements. (It's responsible for the transitions on the site.)</li>
        <li><a href="#" target="_blank">Snap SVG</a> for animating vector graphics.</li>
        <li><a href="#" target="_blank">jQuery</a> a general utiltiy.</li>
        <li><a href="#" target="_blank">Lodash</a> a general utiltiy.</li>
        <li><a href="#" target="_blank">d3</a> a data visuialzation framework.</li>
        <li><a href="#" target="_blank">CryptoJS</a> some parts used for hashing (https://code.google.com/p/crypto-js/).</li>
        <li><strong>Backend</strong></li>
        <li><a href="#" target="_blank">Grunt</a> a task runner.</li>
        <li><a href="#" target="_blank">Yo</a> for scaffolding.</li>
        <li><a href="#" target="_blank">Bower</a> for package management.</li>
        <li><a href="#" target="_blank">Node</a> runs a lot of stuff in teh background</li>
        <li><a href="#" target="_blank">Ruby/Compass</a> for compiling sass</li>
    </ul>
</p>
<p>And here's what I plan on adding...
    <ul>
        <li><a href="#" target="_blank">Three.js</a> for rendering 3D assets.</li>
        <li><a href="#" target="_blank">Cheat.js</a> adding extras</li>
        <li>Something for WEBRTC, SOAP</li>
        <li>Connections to backend services like FireBase, Parse </li>
    </ul>
</p>
<p>This page is blank and has no controller.</p>